/***** MAIN SETTINGS *****/

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body, html, h1, ul {
    margin: 0;
    padding: 0;
  }

  .wrapper {
      max-width: 750px;
      margin: 20px auto;
      text-align: center;
  }

  /***** HEADER *****/


  /***** GAME SECTION *****/

  .game {
    padding: 50px;
  }

  /* Game settings */

  .game-settings {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 30px;
      font-size: 18px;
  }

  .flaticon-favorite::before,
  .flaticon-exchange::before {
      margin-left: 0;
  }

  .restart-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  /* Game cards */

  .card-list {
      margin: 10px auto;
      padding: 30px;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 30px;
      max-width: 650px;
      min-height: 650px;
      justify-content: center;
      align-content: center;
      background-color: lightsalmon;
      border-radius: 7px;
  }

  .card {
      height: 125px;
      width: 125px;
      position: relative;
      perspective: 400px;
      cursor: pointer;
  }

  .card-side {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      backface-visibility: hidden;
      border-radius: 7px;
      transition: all 0.5s;
  }

/**** FOR TESTING *****/

  .card-front {
      background-color: grey;
  }

  .card-back {
      transform: rotateY(180deg);
      background-color:#fff;
  }

  .card:hover .card-front {
      transform: rotateY(-180deg);
  }

  .card:hover .card-back {
    transform: rotateY(0);
}