html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body, html, h1, h2, ul {
    margin: 0;
    padding: 0;
  }

  body {
    background: url(../img/bg.jpg) right;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
  }

.wrapper {
    max-width: 750px;
    margin: 20px auto;
    text-align: center;
}

/***** HEADER *****/

.title {
    font-size: 1.8em;
    padding-top: 20px;
    text-transform: uppercase;
}


/***** GAME SECTION *****/

.game {
    padding: 50px;
}

/* Game settings */

.game-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 30px;
}

.flaticon-favorite {
    color: #ffd000;
}

.flaticon-exchange {
    color: #fff;
}

.flaticon-favorite::before,
.flaticon-exchange::before {
    margin-left: 0;
}

.restart-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Game cards */

.card-list {
    margin: 10px auto;
    padding: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(4, 125px);
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: #b3c2bf;
    border-radius: 7px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card {
    position: relative;
    -webkit-perspective: 400px;
    perspective: 400px;
    cursor: pointer;
    transition: all 0.5s;
}

.card-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 7px;
    transition: all 0.5s;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-front {
    background-color: #e9ece5;
}

.card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color:#fff;
}

/***** WINNER SECTION *****/

.winner-banner {
    font-size: 0.8em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    color: #333;
}

.winner-title {
    padding: 30px 0 10px;
    font-size: 1.6em;
}

.winner-details {
    padding-bottom: 10px;
    font-size: 1.2em;
}

.play-again {
    padding: 7px 20px;
    border-radius: 5px;
    border: 2px solid #f8d121;
    background-color: transparent;
    transition: all 0.3s;
}

.play-again:hover {
    background-color: rgba(248, 209, 33, 0.7);
    cursor: pointer;
}

.banner-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.comet {
    width: 150px;
}

/***** FOOTER *****/

.footer {
    padding: 20px;
    text-align: center;
    font-size: 0.7em;
    color: #ffd000;
}

.copyrights {
    padding-bottom: 10px;
}

/**** INTERACTIVE ELEMENTS *****/

.front-inactive {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

.back-active {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.star-light {
    color: rgba(255, 208, 0, 0.3);
}

.card-match {
    -webkit-animation: cardMatch 0.5s;
    animation: cardMatch 0.5s;
    background-color: #45415a;
}

@-webkit-keyframes cardMatch {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes cardMatch {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/***** MEDIA QUERIES *****/

@media only screen and (max-width: 800px) {

    .game {
        padding: 40px 10px 10px;
    }

    .game-settings {
        width: 80vw;
        margin: 0 auto;
        padding: 0 10px;
    }

   .card-list {
        width: 80vw;
        height: 80vw;
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(4, 15vw);
        grid-gap: 15px;
   }

   .card-side {
       padding: 10px;
   }
}

@media only screen and (max-width: 600px) {

    body {
        background: url(../img/bg-min.jpg) right;
        background-size: cover;
    }
}

@media only screen and (max-width: 450px) {

    .game-settings {
        font-size: 0.8em;
    }
    .winner-details {
        font-size: 1em;
    }
}