$c-yellow-dark: #ffd000;
$c-yellow-medium: rgba(248, 209, 33, 0.7);
$c-yellow-light: rgba(255, 208, 0, 0.3);

$c-white: #fff;
$c-white-transparent: rgba(255, 255, 255, 0.9);
$c-porcelain: #e9ece5;
$c-grey-light: #b3c2bf;
$c-grey-dark: #333;
$c-violet-dark: #45415a;

$c-card-match: $c-violet-dark;
$c-text-light: $c-white;
$c-text-dark: $c-grey-dark;
